# Dipendenze ChatAI FutureJetGame (Render Stable)

gradio==4.43.0
huggingface_hub==0.25.2
deep-translator==1.11.4
Pillow==10.3.0
SpeechRecognition==3.10.1
gtts==2.5.1
pydub==0.25.1
requests==2.31.0
setuptools==69.0.3
wheel==0.43.0
